@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryColor: #ffc90af4;
}

.menu__link {
  color: var(--primaryColor);
  line-height: 2;
  position: relative;
}

.menu__link::before {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: var(--primaryColor);
  position: absolute;
  bottom: -0.25rem;
  right: 0;
  transition: right 0.4s, width 0.4s, left 0.4s;
}

.menu__link:hover::before {
  width: 100%;
  left: 0;
}

.progress-loader {
  width: 150px;
  background: rgba(236, 236, 238, 0.883);
  height: 10px;
  border-radius: 7px;
  border: rgba(130, 130, 133, 0.739) solid 1px;
}

.progress {
  width: 1px;
  height: 8px;
  border-radius: 7px;
  background: var(--primaryColor);
  transition: width 0.5s;
  animation: loading_44 5s cubic-bezier(0.4, 1.01, 1, 1) 1 forwards;
}

@keyframes loading_44 {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.loader {
  width: 60px;
  display: flex;
  justify-content: space-evenly;
}

.ball {
  list-style: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #000000;
}

.ball:nth-child(1) {
  animation: bounce-1 2.1s ease-in-out infinite;
}

@keyframes bounce-1 {
  50% {
    transform: translateY(-6px);
  }
}

.ball:nth-child(2) {
  animation: bounce-3 2.1s ease-in-out 0.3s infinite;
}

@keyframes bounce-2 {
  50% {
    transform: translateY(-6px);
  }
}

.ball:nth-child(3) {
  animation: bounce-3 2.1s ease-in-out 0.6s infinite;
}

@keyframes bounce-3 {
  50% {
    transform: translateY(-6px);
  }
}


.hero-image {
    animation: upAndDown 2s infinite alternate ease-in-out;
  }
  
  @keyframes upAndDown {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-20px); /* Adjust the distance as needed */
    }
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  html {
    scroll-behavior: smooth;
  }